.html {
  scroll-behavior: smooth;
}
/*home*/
#logo-home {
  margin: auto;
  width: 10vh;
  height: 10vh;
}
.navbar {
  margin-bottom: 15vh;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.navbar ul li {
  text-decoration: none;
  list-style: none;
  grid-column: 2/3;
  font-family: "Bebas Neue", cursive;
  display: inline;
  float: right;
  margin: auto;
  margin-top: 4vh;
}
.navbar ul li a {
  color: black;
  font-size: 1.5rem;
  text-decoration: none;
  display: block;
  margin-left: 15px;
}
.navbar ul {
  margin-right: 5vh;
}
.navbar ul li a:hover {
  transition: 0.5s;
  color: black;
  border-bottom: solid 0.5px black;
}
.letters {
  margin-left: 3rem;
}
.navbar img {
  width: 40%;
  height: 100%;
  margin-top: 2.5vh;
  margin-left: 1rem;
}
.navbar img:hover {
  opacity: 50%;
  transition: 0.3s;
}
h1 {
  font-size: 2;
  font-family: "Bebas Neue", cursive;
  text-align: center;
  margin-bottom: 10vh;
}
.letters ul li {
  display: inline;
  font-weight: bold;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px;
  font-family: "Bebas Neue", cursive;
}
.letters ul li a:hover {
  transition: 0.5s;
  color: black;
  border-bottom: solid 0.5px black;
}
.letters ul li a {
  text-decoration: none;
  color: rgba(76, 76, 77, 0.918);
  font-size: 1.5rem;
}
.letters ul {
  justify-content: space-evenly;
}
/*products list*/
span {
  display: initial;
  text-decoration: underline;
}

.item,
.itemonsale,
.itemsoldout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin-top: 20vh;
  max-width: 100%;
  margin-bottom: 5vh;
  margin-left: 5vh;
}
.item a img,
.itemonsale a img,
.itemsoldout a img {
  max-width: 100%;
  height: auto;
}
.soldout {
  opacity: 40%;
}
.item .soldoutlable {
  display: none;
}
.item .soldout .price-now {
  display: none;
}

.soldout .soldoutlable {
  display: block;
  grid-column: 3/4;
  grid-row: 1/2;
  font-size: 1.5rem;
  padding: 2px;
  color: black;
  margin: auto;
  font-weight: bolder;
  font-family: "Bebas Neue", cursive;
}
.brand-name {
  text-align: center;
  grid-column: 1/-1;
  font-size: 2.5rem;
  text-decoration: underline 2px;
  font-family: "Bebas Neue", cursive;
}
main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 400px));
  gap: 10vw;
  box-sizing: border-box;
  gap: 1rem;
}
.item a img:hover {
  opacity: 70%;
  transition: 1s;
}
.soldout a img:hover {
  opacity: 1;
  filter: alpha(opacity=1.0);
}
.products a {
  text-decoration: none;
  color: black;
}
.description {
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 60% 20% 20%;
  grid-template-rows: 50% 20% 20%;
  font-family: "Bebas Neue", cursive;
}
.description p {
  line-height: 1.5rem;
}
.description h3 {
  grid-column: 1/2;
  font-size: 2rem;
  font-family: "Bebas Neue", cursive;
}
.price {
  font-family: "Bebas Neue", cursive;
  grid-column: 1/2;
  grid-row: 2/3;
  font-size: 1.5rem;
}
.price::after {
  content: " DKK-";
}
.onsale .price::before {
  content: "prev.price:";
}
.onsale .price-now::before {
  content: "price now: ";
}
.onsale .price-now::after {
  content: " DKK-";
}
.price-now {
  grid-column: 1/3;
  grid-row: 2/3;
  font-size: 1.5rem;
}
.onsale .price {
  grid-column: 1/3;
  grid-row: 3/4;
}
.item .price-now,
.item .discount,
.descriptionofitem .discount {
  display: none;
}
.soldout .onsale .price-now,
.soldout .onsale .discount,
.onsale .price-now,
.onsale .discount {
  display: block;
}
.item .onsale,
.item .onsale span {
  display: block;
}
.onsale .discount {
  display: block;
  grid-column: 3/4;
  grid-row: 2/3;
  margin: auto;
  line-height: 2rem;
  font-size: 1.5rem;
  background-color: #bf4342;
  border-radius: 3px;
  padding: 2px;
  color: white;
  font-weight: bolder;
  text-align: center;
  font-family: "Bebas Neue", cursive;
}

.discount::after {
  content: "%";
}

/*categories*/

.categories {
  margin-left: 3rem;
}

.categories ul li {
  display: inline;
  font-weight: bold;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px;
  font-family: "Bebas Neue", cursive;
}
.categories ul li a:hover {
  transition: 0.5s;
  color: black;
  border-bottom: solid 0.5px black;
}
.categories ul li a {
  text-decoration: none;
  color: rgba(76, 76, 77, 0.918);
  font-size: 1.5rem;
}
.categories ul {
  justify-content: space-evenly;
}

/*product page*/

.theproduct {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: auto;
  margin: 5vw;
  margin-top: 15vh;
}
.theproduct img {
  max-width: 70%;
  height: auto;
  margin: auto;
}

.descriptionofitem {
  margin-left: 3vh;
  grid-column: 2/3;
  display: block;
  margin-top: 15vh;
}
.descriptionofitem h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
}
.product-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
.descriptionofitem .price-now {
  display: none;
}
.soldout .onsale .price-now, .onsale .price-now {
  display: block;
}
.product-info h3 {
  text-align: center;
  font-size: 2rem;
  grid-column: 1/3;
  margin-top: 15vh;
}
.product-info h4 {
  font-size: 1.5rem;
  font-weight: lighter;
  grid-column: 1/3;
}
.descriptionofitem p,
.product-info p {
  font-size: 1.5rem;
  font-family: "Bebas Neue", cursive;
}
.descriptionofitem .discount {
  width: 3rem;
  float: right;
  line-height: 2rem;
  font-size: 1.5rem;
  background-color: #bf4342;
  border-radius: 3px;
  padding: 2px;
  color: white;
  font-weight: bolder;
  text-align: center;
  font-family: "Bebas Neue", cursive;
}
.descriptionofitem .soldout , .descriptionofitem .soldout .onsale 
.descriptionofitem .soldoutlable {
  margin-top: 8vh;
}
.descriptionofitem .soldout .onsale .soldoutlable, .descriptionofitem .soldout .onsale .price-now, .descriptionofitem .soldout .onsale .soldoutlable {
  display: block;
}
.descriptionofitem .onsale .soldoutlable{
  display: none;
}
label {
  font-size: 1.3rem;
  font-family: "Bebas Neue", cursive;
}
select {
  font-size: 1.3rem;
  margin-top: 15vh;
  margin-left: 1rem;
  width: 6rem;
  grid-column: 1/3;
  grid-row: 4/5;
  font-family: "Bebas Neue", cursive;
}
.addtobasket {
  font-family: "Bebas Neue", cursive;
  margin: auto;
  margin-top: 20vh;
  width: 15vh;
  cursor: pointer;
  text-align: center;
  padding: 5px;
  grid-column: 2/3;
  font-size: 3vh;
  color: whitesmoke;
  background-color: black;
}
.addtobasket:hover {
  border-radius: 3px;
  color: black;
  background-color: whitesmoke;
  transition: 0.5s;
}
.theproduct h4,
.theproduct h3 {
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
}
.theproduct ul li,
.product-info ul {
  font-family: "Bebas Neue", cursive;
  font-size: 1.5rem;
}
/*media queries*/

@media only screen and (max-width: 930px) {
  .navbar img {
    width: 100%;
  }
  .navbar ul li a {
    display: inline-block;
  }
  .item img {
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 70vw;
  }
  .item, .itemonsale, .itemsoldout {
    width: 90%;
  }
  .brands {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .products {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .description {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .price {
    font-size: 1.3rem;
  }
  .descriptionofitem h2 {
    font-size: 1.5rem;
  }
  .descriptionofitem .discount {
    float:none;
  }
  .price-now {
    grid-row: 4/5;
    grid-column: 1/2;
    font-size: 1.3rem;
  }
  .onsale .discount {
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  .soldout .soldoutlable {
    display: none;
  }
  .description h3 {
    font-size: 1.5rem;
  }
  .brand-name {
    font-size: 2rem;
  }
  .theproduct {
    grid-template-columns: 1fr;
    margin: 2vw;
  }
  .descriptionofitem {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
  }
  .soldout .onsale .price {
    float: none;
    grid-row: 5/6;
    grid-column: 1/2;
    font-size: 1.3rem;
  }
  .addtobasket {
    grid-column: 1/2;
    padding: 1rem;
    color: whitesmoke;
    background-color: black;
  }
  .product-info ul {
    text-decoration: none;
    list-style: none;
  }
  .item,
  .itemonsale,
  .itemsoldout {
    margin-left: 0;
  }
}
